# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environments
venv/
.venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/

# Figures (uncomment if you don't want to commit generated plots)
# figures/*.png
# figures/*.pdf
